// src/widgets/PageLoader/ui/PageLoader.module.scss

.PageLoader {
    min-height: calc(100vh - var(--navbar-height)); /* Высота страницы */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* устанавливаем ширину, для того что бы не было конфликтов с sideBar */
}
