// shared/ui/Text/Text.module.scss

// Стили темы PRIMARY
.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

// Стили темы ERROR
.error {
    .title {
        font: var(--font-l);
        color: var(--red-light);
    }

    .text {
        font: var(--font-m);
        color: var(--red-dark);
    }
}
