/* src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss */
.Sidebar {
    height: calc(100vh - var(--navbar-height)); /* от всей высоты браузера отнимаю высоту navbar */
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative; /* Для того что бы кнопку поставить на правильное место */
    transition: 0.5s; /* длительность анимации */
}

.switchers {
    position: absolute; /* для этого мы делали для Sidebar  position: relative */
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute; // что бы с позиционировать в нужное место
    right: -30px;
    bottom: 30px;
    z-index: 100000;
}

// Стили для Sidebar items
.items {
    margin-top: 20px;
}

// Стили для svg иконок

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.link {
    margin-left: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    // Переопределяю стили для переключателей
    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}
