// widgets/Sidebar/ui/SidebarItem/SidebarItem.module.scss
// Стили для Sidebar items
.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

// Стили для svg иконок

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.link {
    margin-left: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    // Переопределяю стили для ссылок
    .link {
        opacity: 0; // прозрачные
        transition: 0.3s opacity; // анимация на прозрачность
        width: 0;
    }
}
