// pages/ArticleDetailsPage/ui/ArticleDetailsPage/ArticleDetailsPage.module.tsx
.ArticleDetailsPage {
  min-height: 100%;
}

.commentTitle {
  margin-top: 20px;
}

.recommendations {
  margin-top: 20px;
  flex-wrap: nowrap; // что бы не было переносов элементов на новую строку
  overflow-y: hidden; // если есть переполнение появится scroll
  overflow-x: auto;
}
