// entities/Profile/ui/ProfileCard/ProfileCard.module.scss
.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

// стили для Avatar

.AvatarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

// стили для режима редактирования

.editing {
    border: 2px solid var(--inverted-secondary-color);
}
